.roll {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
}

.roll:nth-child(1) {
    border-radius: 49% 51% 66% 34% / 50% 59% 41% 50%  ;
    animation: roll 8s linear infinite;
}

.roll:nth-child(2) {
    border-radius: 57% 43% 44% 56% / 34% 68% 32% 66%   ;
    animation: roll 6s linear infinite;
}

.roll:nth-child(3) {
    border-radius: 57% 43% 44% 56% / 63% 27% 73% 37% ;
    animation: roll 7s linear infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
