.footer-container {
    background-color: var(--primary);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-container .logo {
    height: 80px;
}

.footer-container .hours {
    width: 450px;
    margin: 10px;
    color: var(--secondary);
}

.footer-container .hours ul {
    list-style: none;
    padding: 0;
}