:root {
  --primary: #20232a;
  --secondary: #fefefe;
  --tertiary: #D4AE26;
  --font-family-title: 'Playfair Display', serif;
  --font-family-text: 'Montserrat', sans-serif;
  --text-color: #444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: var(--font-family-title);
}

.button {
  font-family: var(--font-family-title);
}
